.flex-container {
    display: flex;
    background-color: palevioletred;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
  }
  .container{
    flex-direction: column;
  }
  .ex{
    color: rgb(0, 81, 81);
  }
  #main {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
  }
  
  #main div {
    width: 70px;
    height: 70px;
  }

  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }
  div.absolute{
    position: absolute;
    top: 1600px;
    left: 30px;
    border: 2px solid blue;
    background-color: paleturquoise;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: skyblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .index1,.index2{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
  }
  .index1{
    background-color: aquamarine;
    position:absolute;
    top: 2200px;
    left: 10px;
    z-index: 2;
  }
  .index2{
    background-color: cadetblue;
    position: absolute;
    top:2280px;
    left: 10px;
  }

 .mar_pad{
    width: 250px;
    height: 50px;
    border: 2px solid blue;
    background-color: skyblue;
    padding: 10px;
    margin: 10px;
 } 